body {
   background: rgb(2,0,36);
   background: linear-gradient(0deg, rgba(2,0,36,1) 21%, rgba(48,48,98,1) 72%, rgba(131,181,204,1) 100%);

}

.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: footer;}


.grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'menu menu menu menu menu menu'
        'main main main main main main'
        'footer footer footer footer footer footer';
    gap: 20px;
    background-color: transparent;
    padding: 20px;
} 
.grid-container > div {
    background-color: transparent;
    color: #83b5cc;
    text-align: center;
    padding: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.menu > li{
    display: table-cell;
    margin:  5px;
    padding: 5;
    text-align: center;
}