body {
   background: linear-gradient(0deg, rgba(2,0,36,1) 21%, rgba(48,48,98,1) 72%, rgba(131,181,204,1) 100%);
   background-size: cover;
   min-height: 100%;
}
.item1 {
    align-items:center;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
        font-size: 50px;
        color: black;
        text-align: center;
    
}
.menu{
    text-align: center;    
    padding-left: 25%;
    list-style-type:none;
    overflow: hidden;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    color: #a3a8ae;
}
.menu > li{
    float: left;
    display: block;
    padding: 5%;
}
.menu_angeilski{
    text-align:center;

    accent-color: #728fbe;
}
.menu_o{
    text-align:center;
    accent-color: #728fbe;
}
.kontakt{
    text-align:center;
    accent-color: #728fbe;
}
.kontakt2{
    color: #a3a8ae;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
}
.kontakt2 > br {
    display: block;
    line-height: 200%;
}
.kontakt3_1{
    color: #a3a8ae;
    font-family: 'Inconsolata', monospace;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.kontakt3_1 > input{
    width: 300px;
    float: right;
}
.kontakt3_1 > [id=wiadomosc] {
    height: 100px;
    max-height: 500px;

}
.kontakt3_1 > [id=wyslij]{
    float: left;
    width: 25%;
    font-family: 'Inconsolata', monospace;
    background-color:rgba(2,0,36,1);
    color: #a3a8ae;
    border-style:double;
    box-shadow: #728fbe;
}





