body {
   background: rgb(2,0,36);
   background: linear-gradient(0deg, rgba(2,0,36,1) 21%, rgba(48,48,98,1) 72%, rgba(131,181,204,1) 100%);

}

.grid-container{
    display: grid;
    grid-auto-flow:inherit;
    gap: 1px;
    background-color: transparent;
    padding: 5px;
} 
.grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 1%;
}
.item1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
        font-size: 50px;
        color: black;
    
}
.menu{
    align-self: center;
    padding-left: 25%;
    list-style-type:none;
    overflow: hidden;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    color: ghostwhite;
}
.menu > li{
    float: left;
    display: block;
    padding: 5%;
}
.menu_angeilski{
    text-align:center;
    accent-color: #728fbe;
}
.menu_o{
    text-align:center;
    accent-color: #728fbe;
}
.kontakt{
    text-align:center;
    accent-color: #728fbe;
}






